<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}}</title>
        <meta name="description" content="" {{description}}>
        <link rel="icon" href="/img/logo.png">
        <link rel="icon" href="/css/styles.css">
    </head>
    <body>
        <header>
            
        </header>
        <main>
            {{content | safe }}
        </main>
        <script src="/js/main.js" type="module"></script>
    </body>
</html>