---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripciónnde la página de acerca
---

<h1>{{title}}</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consectetur doloribus esse fugit modi quos in at harum quidem, quas tempora iusto laboriosam, praesentium repellat pariatur sint mollitia quasi molestias.
</p>
<img src="/img/pina.jpeg" alt="Piña Alegre">
