---
layout: layout-page.njk
title: Bienvenido a mi sitio con 11ty
description: Meta descripción de la página de inicio
---

<h1>{{ title }}</h1>
<p>
  Hola, este es un <i>Proyecto Inicial</i> minimalista para crear sitios estáticos con <b><i>11ty</i></b>.
</p>
<div class="row">
  <img class="svg" src="/img/eleventy.svg" alt="Eleventy">
  <h2>+</h2>
  <img class="svg" src="/img/nunjucks.svg" alt="Nunjucks">
  <h2>+</h2>
  <img class="svg" src="/img/markdown.svg" alt="Markdow">
</div>
<hr>
<h2>{{ site.message }}</h2>
<p>
  Se muestra la documentación de Eleventy:
</p>
<ul>
  {% for link in site.linksDoc %}
    <li>
      <a href="{{ link.url }}" target="_blank">{{ link.text | safe }}</a>
    </li>
  {% endfor %}
</ul>